@{
    ViewBag.Title = "Verksamhet";
}
<header>
    <h2>@ViewBag.Title</h2>
</header>
<div class="row-fluid">
    <div class="span12">
        <p>
            Vi jobbar för att behålla en liten barngrupp och hög personaltäthet och ser som ett viktigt mål att inte vara vinstdrivande. Älgen har fem anställda pedagoger på högst 18 barn. Det gör att det finns tid att hinna se varje barn.
            Vi har som målsättning att ha en spridd åldersstruktur (s.k. syskongrupp). Ungefär 10-12 familjer driver förskolan Älgen. Det engagemang som alla Pedagogerna kompetensutvecklar sig och utvecklar verksamheten fortlöpande.
        </p>
        <figure>
            <img class="img-responsive" src="~/Content/Images/verksamhet.jpg">
            <img class="img-responsive" src="~/Content/Images/verksamhet2.jpg">
            <figcaption>Vi tillämpar maxtaxesystemet för Stockholms stad.</figcaption>
        </figure>
    </div>
</div>