@{
    ViewBag.Title = "Kontakt";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <p>
        Om du vill ställa ditt barn i kö till vår förskola, eller komma på besök för att bilda dig en egen uppfattning om vår verksamhet, skriv gärna så tar någon av oss kontakt med dig.
        Vi tillämpar samma köregler som Stockholms stad, delvis rak köordning, men vi håller platser för syskon som ska in i verksamheten. Man måste bli godkänd av styrelsen avseende att man är införstådd med hur ett föräldrakooperativ fungerar och att man har möjlighet lägga ned tid på styrelseuppdrag och föreningsaktiviteter.
    </p>
    <br />
    <address>
        <dl>
            <dt>Postadress:<dt>
            <dd>Förskolan Älgen</dd>
            <dd>Cervins väg 13</dd>
            <dd>163 42 Spånga</dd>
        </dl>
        <strong>E-post:&nbsp;</strong><a href="mailto:info@forskolanalgen.com">info@forskolanalgen.com</a><br /> 
        <strong>Telefon:&nbsp;</strong>087611364
    </address>
</div>