
@{
    ViewBag.Title = "Kooperativet";
}
<header>
    <h2>@ViewBag.Title</h2>
</header>

<div class="row">
    <div class="col-md-12">
        <p>
            Vårt föräldrakooperativ fungerar som en vanlig förskola med den skillnaden
            att det är föräldrarna själva som tillsammans med föreståndaren ansvarar för och driver förskolan.
            Genom olika arbetsgrupper/poster kan föräldrarna påverka, delta i och följa sina barns utveckling den tid de är
            på förskolan. Föräldrar som vill ha sina barn på förskolan behöver ha möjlighet att lägga tid på föreningsarbete.
        </p>
        <h3>Föräldrarnas uppgifter</h3>
        <h4>Jourplikt</h4>
        <p>
            Vid pedagogers korttidsfrånvaro efter modell “stegen”, vilket innebär att vikarieansvarig ringer föräldrar
            enligt en barnlista på kvällen före eller samma morgon. Den familj som blir uppringd har ansvaret att joura eller
            ringa vidare och ordna jour. Alla som jourar måste kunna visa utdrag ur belastningsregistret.
        </p>    
        <h4>Tvätt och städning</h4>
        <p>
            Varje familj tvättar och städar efter en barnlista, har man ett barn på förskolan blir det ca 2 ggr/termin.
            Har man två barn eller fler dubbleras engagemanget.
        </p>
        <h4>Städjour</h4>
        <p>Gemensam städ- och fixardag två dagar per år.</p>
        <h4>Styrelsearbete</h4>
        <p>
            Varje familj ska under sina barns förskoletid inneha någon styrelsepost.
            Styrelsen ansvarar för föreningen och är arbetsgivare.
            Den arbetar nära föreståndaren och pedagogerna.
            Posterna är:
            <ul>
                <li>Ordförande</li>
                <li>Kassör</li>
                <li>Personalansvarig</li>
                <li>Barnrekryterare</li>
            </ul>
        </p>
        <h4>Andra poster</h4>
        <ul>
            <li>Lokal- & säkerhetsansvarig</li>
            <li>Vikarieförmedlare, städ- & föräldraarbetsansvarig</li>
            <li>Valberedare & festfixare</li>
        </ul>
        <span>
            Föreningsstämma äger rum en gång om året, medlemsmöte två gånger per termin,
            och styrelsemöte vid behov.
        </span>
        <h4>Fadderfamilj</h4>
        <span>
            Föräldrar till nyinskrivna barn får en fadderfamilj som hjälper till att introducera familjen
            till Älgens rutiner.
        </span>
    </div>
</div>
