@{
    ViewBag.Title = "Hem";
}

<div class="jumbotron">
    <img id="logo" src="~/Content/Images/moose_logo_small.jpg" class="img img-responsive center-block" alt="Förskolan Älgen Bromsten" /> 
  </div>
<div class="row">
    <div class="col-md-12">
        <h1>FÖRÄLDRAKOOPERATIVA<br />FÖRSKOLAN ÄLGEN</h1>
        <div>
            <p>
                Älgen är en liten föräldrakooperativ förskola med en syskongrupp (högst 18 barn) och fem pedagoger.
                Här blir alla barn sedda och kan utvecklas i sin egen takt. Stor vikt läggs på att barnen ska trivas tillsammans.
            </p>
            <p>
                Vi arbetar efter <a href="http://www.skolverket.se/publikationer?id=2442">Lpfö 98</a>,
                Skollagen och Stockholms stads förskoleplan. Våra ledord är att förskolan ska vara Trygg, Rolig och Lärorik.
                Vi är ute mycket (utelämning året runt från kl 8.00) och bedriver utepedagogik i skogen. Varje vecka har vi också Knopp, Knytte och Mulleverksamhet.
            </p>
            <p>Maten lagas av en kock i vårt kök och vi försöker tänka att den ska vara både näringsriktig och ekologisk.</p>
            <p>Förskolan är en ekonomisk förening och det är föräldrarna själva som tillsammans med föreståndaren ansvarar för och driver förskolan.<p>
            <p>
                Vi finns på Cervins väg 13 i samma hus som servicehuset i Bromsten, Spånga.
                <a href="http://www.hitta.se/kartan/partner#x=1620188&y=6586113&zl=2&mp_xml=%3Cpts%3E%3Cpt%20x%3D%221620188%22%20y%3D%226586113%22%20i%3D%22http%3A%2F%2Fwww.hitta.se%2Fimages%2Fpoint.png%22%3E%3Ct%3E%3C%21%5BCDATA%5BF%C3%B6r%C3%A4ldrakooperativ%20F%C3%B6rskola%20%C3%84lgen%3Cbr%2F%3ETelefon%3A%2008-7611364%3Cbr%2F%3EAdress%3A%3Cbr%2F%3ECervins%20V%C3%A4g%2013%3Cbr%2F%3E163%2042%20SP%C3%85NGA%5D%5D%3E%3C%2Ft%3E%3C%2Fpt%3E%3C%2Fpts%3E">[Karta]</a>
            </p>
            <span>
                "Enligt Stockholms stads riktlinjer ska en förskola erbjuda öppettider i förhållande till föräldrars behov inom ramtiden 06.30 - 18.30 alla helgfria vardagar förutom julafton, midsommarafton och nyårsafton."
                <br />
                Mer om öppettider finns beskrivet i stadens riktlinjer för fristående förskola, <a href="http://www.stockholm.se/ef">www.stockholm.se/ef</a>  Utbildningsförvaltningen
            </span>
        </div>

    </div>
</div>