
@{
    ViewBag.Title = "Matsedel";
}
<header>
    <h2>@ViewBag.Title</h2>
</header>
<style>
    ul, li {
        list-style-type: none;
    }
</style>
<div class="row">
    <ul>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.1</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.2</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.3</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.4</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.5</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.6</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.7</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
        <li class="mat-line">
            <div class="matsedel-dag">
                <h4>V.8</h4>
            </div>
            <div class="matsedel-mat">
                <ul>
                    <li><b>Måndag:</b>Kyckling med soltorkad tomat</li>
                    <li><b>Tisdag:</b>Spagetti och köttfärssås</li>
                    <li><b>Onsdag:</b>Winjekorv med stuvad savojkål och potatismos</li>
                    <li><b>Torsdag:</b>Fiskgratäng med dill och sparris, serveras med potatismos</li>
                    <li><b>Fredag:</b>Slottsstek med gräddsås och kokt potatis</li>
                </ul>
            </div>
        </li>
    </ul>
</div>

