
@{
    ViewBag.Title = "Pedagogy";
}
<header>
    <h2>Pedagogik</h2>
</header>


<p>På Älgen arbetar vi efter <a href="http://www.skolverket.se/publikationer?id=2442">Lpfö 98</a> (Reviderad 2010) och <a href="http://www.stockholm.se/Global/Centrala%20st%c3%b6d-%20och%20styrdokument/Barn%20ungdom%20och%20utbildning/Stockholms_%20stads_f%c3%b6rskoleprogram_2013-10-15.pdf">Stockholms stads förskoleplan</a>.</p>
<p>
    Våra ledord är att förskolan ska vara Trygg, Rolig och Lärorik. Vi pedagoger finns tillhands som “medupptäckare” till barnen. Vi tror också att leken är grunden för att träna social kompetens.
    Vi strävar efter att ge barnen många och olika tillfällen till lek, aktivitet och inlärning i olika miljöer, ofta i skogen. I naturen finns obegränsade tillfällen att träna motoriken. I vår dagliga tillvaro med barnen tränar
    vi matematiska begrepp genom att jämföra, sortera, mäta och räkna. Språket tränas genom dagliga samtal och med lek, sång, sagor och ramsor. Musik, “miniröris”, dans samt skapande i olika material är naturliga inslag i verksamheten.
    Barnen indelas i olika gruppkonstellationer beroende på aktivitet. Vi är medlemmar i Friluftsfrämjandet och bedriver Knopp, Knytte och Mulle varje termin. Skogspartierna i närheten används för utepedagogik och vi odlar på vår gård.
    Vi dokumenterar barnens lärandeprocess på olika sätt, t.ex. i portfolios.
</p>
    <figure>
        <img src="~/Content/Images/pedagogik.jpg" alt="sport" />
        <figcaption>Fysisk aktitivitet</figcaption>
    </figure>
    <figure>
        <img src="~/Content/Images/pedagogik2.jpg" alt="bygge" />
        <figcaption>Laganda</figcaption>
    </figure>
    <br />
    <p>
        Vi har utelämning efter kl. 8.00 på Älgens lilla gård. Vid 9.00 går vi iväg till olika aktiviteter. Vi är ute oberoende av väder – året runt. Lunchen äts ca 11.00, därefter sover de yngre barnen medan de andra har läsvila. Vid 14.15 serveras mellanmål.
    </p>
    <br />
    <figure>
        <img src="~/Content/Images/pedagogik3.jpg" alt="mäta" />
        <figcaption>Matematik</figcaption>
    </figure>
