
@{
    ViewBag.Title = "Personalen";
}

<h2>Personalen på Älgen</h2>
<figure>
    <img src="~/Content/Images/personal.png" alt="personal" />
    <figcaption>Personalen, från vänster till höger</figcaption>    
</figure>
<div>
    <dl>
        <dt>Hasmik Aghourian</dt>
        <dd>Barnskötare&nbsp;% i köket och 50% i barngruppen</dd>
        <dt>Lucia Lomartire</dt>
        <dd>Barnskötare&nbsp;75%</dd>
        <dt>Kristi Laud</dt>
        <dd>Förskollärare&nbsp;75%</dd>
        <dt>Madelen Rosdahl</dt>
        <dd>Förskolechef&nbsp;100%</dd>
        <dt>Midia Oudi Fard</dt>
        <dd>Förskollärare student&nbsp;80%</dd>
    </dl>
    
</div>